.yvid{
            display: block;
            width: 640px;
            height: 340px; 
            margin: 20px auto;
            position: relative;
            background:#000;
        }
        .vidthumb{
            width: inherit;
            height: inherit;
            cursor: pointer;
        }
        .playb{
            display: block;
            width: 70px;
            height: 70px;
            position: absolute;
            top: 33%;
            left: 42%;
            text-align: center;
            cursor: pointer;
            background-repeat: no-repeat;
            border-radius: 50%;
            border: 8px solid #fff;
            box-shadow: 0px 0px 3px 0px #000;
            background:#000; 
        }

        .playb:after{
            display: block;
            width: 0px;
            height: 0px;
            position: absolute;
            content: " ";
            top: 23%;
            left: 36%;
            border-top: 19px solid transparent;
            border-left: 30px solid white;
            border-bottom: 19px solid transparent;
        }

        .yvid:hover .playb{
            background: red;
        }